<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- sysparm_display_value=true : parameter to all ServiceNow REST uri's in Web.config to explicitly return all date/time fields as the display values instead of UTC time-->
    <add key="NewcURL" value="https://cityoflaprod.service-now.com/api/now/table/kb_knowledge?sysparm_query=Title='News_and_Outages'^topic=News^active=true^sysparm_display_value=true"></add>
    <add key="IncidentcURL" value ="https://cityoflaprod.service-now.com/api/now/table/incident?sysparm_query=problem_idISNOTEMPTY^sysparm_display_value=true"></add>
    <add key="ProblemcUrl" value ="https://cityoflaprod.service-now.com/api/now/table/problem?sysparm_query=u_outage=true^sysparm_display_value=true"></add>
    <add key= "ChangecURL" value ="https://cityoflaprod.service-now.com/api/now/table/change_request?sysparm_query=sysparm_display_value=true^u_chg_outage=true"/>
    <add key= "APIGenericURL" value ="https://cityoflaprod.service-now.com/api/now/table"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--
  <system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="false"
        proxyaddress="http://bcproxy.ci.la.ca.us:8080"
        bypassonlocal="false"/>      
    </defaultProxy>
  </system.net>
  -->
</configuration>
